<div class="row">
  <div class="col-md-12">
    <h4>Welcome <%= session[:player_name] %>!</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form role="form" action="/bet" method='post'>
      <div class="form-group">
        <label for="bet">Please place a bet for this round:</label>
        <div class="row">
          <div class="col-md-8">
            <input class="form-control" type="text" name="bet"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary btn-block">Place Bet</button>
        </div>
      </div>
    </form>
  </div>  
</div>
