<div class="row">
  <div class="col-md-3">
    <h4>Welcome <%= session[:player_name] %>!</h4>
    <h4>Balance: $<%= session[:player_bank] %></h4>
    <a href="/bet" class="btn btn-lg btn-success btn-block" role="button">Play Blackjack!</a>
  </div>
</div>