<div class="row">
  <div class="col-md-4">
    <form role="form" action='/set_name' method='post'>
      <div class="form-group">
        <label for="player_name">Enter Player's Name:</label>
        <input type='text' class="form-control" name='player_name'/>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>  
</div>