body{
  margin-top: 50px;
  background-color: #999;
}

h3{
  margin-top: 0;
}

img{
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

input[type="submit"]{
  margin-top: 10px;
}

.stats {
  font-size: 1.15em;
}

.h2-mod {
  margin: 0;
  margin-bottom: 10px;
}
#balance_button>input {
  margin: 0;
  float: right;
  margin-left: 5px;
  font-size: 1.25em;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-form-group>form>input{
  float: left;
  border-radius: 0;
}

.btn-form-group>form:first-child>input{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.btn-form-group>form:last-child>input{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.well{
  margin-right: 20px;
}

.container{
  background-color: white;
}

.btn-inverse {
  background-color: #232323;
  color: white;
}

.btn-inverse:hover{
  color: white;
  background-color: #121212;
}

.alert-result {
  padding: 0;
  padding-right: 20px;
}